# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-lock.yaml
.vscode/
dist/
build/
coverage/

# Env & secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
